@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
}

.playfair { font-family: 'Playfair Display', Georgia, serif; }
.dancing  { font-family: 'Dancing Script', cursive; }
.pinyon   { font-family: 'Pinyon Script', cursive; }